.mainDiv {
    background-color: var(--corSecundaria);
    margin-top: 20px;
    margin-bottom: 50px;
    width: 400px;
    min-height: 260px;
    padding: 20px;
    padding-top: 80px;
    border-radius: 20px;
    border: 1px solid grey;
    text-align: center;
}

.mainDiv p {
    font-size: 30px;
}

.title h2 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400
    ;
}