.mainDiv {
    background-color: var(--destaque);
    margin-top: 20px;
    width: 400px;
    height: 660px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid grey;
}

.title h2 {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}