:root {
  --corPrincipal: rgba(75, 46, 5, 1);
  --corSecundaria: rgba(220, 199, 170, 1);
  --destaque: rgba(196, 154, 108, 1);
  --fundoAlt: rgba(243, 231, 200, 1);
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--corPrincipal);
}

main {
  display: flex;
  justify-content: center;
}

h2 {
  font-weight: 100;
  font-style: italic;
}

header {
  background-color: var(--corPrincipal);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 320px;
  min-height: 70px;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

header p {
  padding-bottom: 2px;
  cursor: pointer;
  position: relative;
}

header p:after {
  content: '';
  transition: all 0.25s ease;
  position: absolute;
  background-color: var(--corSecundaria);
  height: 2.5px;
  width: 0;
  left: 0;
  bottom: -5px;
}

header p:hover:after {
  width: 100%;
}
/* Uma partezinha aqui em cima que eu fiz pra animação dos itens no header :> */

.heroContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 0;
}

.heroContainer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('./Images/Heroimg.jpg');
  height: 660px;
  width: 100%;
  color: white;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroContainer div h1 {
  font-size: 45px;
}

button {
  margin: 15px;
  background-color: var(--destaque);
  border: 1px solid grey;
  border-radius: 35px;
  color: white;
  padding: 7px;
  transition: all 0.35s ease;
}

button:hover {
  border: 1px solid black;
  background-color: rgba(220, 199, 170, 0.3);
}

