:root {
  --corPrincipal: rgba(75, 46, 5, 1);
  --corSecundaria: rgba(220, 199, 170, 1);
  --destaque: rgba(196, 154, 108, 1);
  --fundoAlt: rgba(243, 231, 200, 1);
}

* {
  padding: 0px;
  margin: 0px;
}

h2 {
  font-weight: 100;
  font-style: italic;
}


header {
  background-color: var(--corPrincipal);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 320px;
  min-height: 70px;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

.heroContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 0;
}

.heroContainer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('./Images/Heroimg.jpg');
  height: 660px;
  width: 100%;
  color: white;
  position: relative;
  z-index: 1;
}